{% extends "layout/base.html" %}

{% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-9 mx-auto">
                <!--form -->
                <div class="card">
                    <div class="card-header">
                        <h1 class="fw-light mt-4">Avez-vous une question ?</h1>
                        <p class="lead text-muted">Le Papy Robot est disponible 7J/7 pour vous répondre</p>
                        <h2 class="h6">En plus, il a une belle histoire à raconter ...</h2>
                    </div>
                    <div class="card-body h-100">
                        <!-- start-->
                        <div id="map"></div>
                        <!--end -->
                    </div>
                    <div class="card-footer">
                        <form method="post" id="floating-panel">
                            <div id="user_input_container" class="input-group">
                                <input id="address" type="textbox" value="Sydney, NSW" />
                                <span class="input-group-append"><button type="button" id="submit" class="btn btn-danger btn-lg">Rechercher</span>
                            </div>
                        </form>
                        <div id="map"></div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

